a {
color: black;
text-decoration: none;
padding-right: 10px;
font-family: Arial, sans-serif;
}
#lucky{
    color: white;
    background-color: blue;
}
.searcher{
    align-self: center;
    display: flex;
    flex-direction: column;
}
h1{
font-family: Arial, sans-serif;
text-align: center;
}
form {
    text-align: center;
}
input{
    border-radius: 15px;
    border-width: 1px;;
}
input[type=text] {
    width: 45%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
input[type=submit] {
    padding:8px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
a:hover {
    text-decoration: underline;
}
header {
    text-align: right;
}